---
layout: default
title: Home
---

<p style="padding-bottom:50px; margin-top:80px">
<img src="/assets/img/robot.png" style="border-bottom: 5px solid black;">
Welcome to the open source software research applications portal. If you are new to open source, we recommend that you <a href="https://opensource.guide/" target="_blank">read about best practices</a> first. Here you will find templates for web applications and lab pages, reproducible environments for on and off of a compute cluster, and software to help with your research. Continue reading below, or go straight to the <a href="/pages/applications">applications</a>.
</p>


<!-- What projects do we have? -->
<div class="uk-container uk-container-center">

    <!-- Filter Controls 
    <ul class="grid-filter uk-subnav uk-subnav-pill">
        <li data-uk-filter="web" class="uk-active"><a href="">Web</a></li>
        <li data-uk-filter="web-docs"><a href="">Docs</a></li>
        <li data-uk-filter="web-apps"><a href="">Applications</a></li>
        <li data-uk-filter="env-docker"><a href="">Docker (Local)</a></li>
        <li data-uk-filter="env-singularity"><a href="">Singularity (HPC)</a></li>
        <li data-uk-filter="hpc"><a href="">HPC</a></li>
        <li data-uk-filter="code-python"><a href="">Python</a></li>
        <li data-uk-filter="code-r"><a href="">R</a></li>
        <li data-uk-filter="code-viz"><a href="">Viz</a></li>
     </ul>-->

  <!-- Dynamic Grid -->
  <div id="grid" class="uk-grid uk-width-large-1-1 uk-visible-large" style='margin-top:80px;'>



  {% for post in paginator.posts %}
    <div data-uk-filter="{{ post.tags }}">
      <div class="uk-panel uk-panel-box" style="width:600px; margin-top:20px">
        <p><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></p>
        {% if post.snippet %}
        <p>{{ post.snippet }}</p>
        {% endif %}
        {% if post.image %}
            <a class="post-link" href="{{ post.url }}">
               <img src="{{ post.image }}" width="100%">
            </a>
        {% endif %}
        <span class="post-date">{{ post.date | date_to_string }}</span>
      </div>
    </div>
   {% endfor %}
  </div>
