<!-- Give user option to hide the sidebar -->
<i class="fa fa-plus-square-o fa-2x" style="position:fixed; top:20px;left:20px" id="show-sidebar"></i>

<div class="sidebar" id="sidebar" style="display:none">

  <!-- Give user option to hide the sidebar -->
  <i class="fa fa-minus-square-o fa-2x" style="float:right;" id="hide-sidebar"></i>

  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <p id="home" class="lead" style="font-size:28px;cursor:pointer">
          {{ site.title }}
      </p>
      <!--<p class="lead">{{ site.description }}--><i class="fa fa-search" style='padding-left:10px' id='search-button'></i></p>
    </div>

    {% include nav.html %}
    {% include social_media.html %}
    

    <div style="padding-top:20px">
       <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#home").click(function(){
    document.location = "{{ site.baseurl }}"
  })
})
</script>
